.bloc-search h3:first-child {
  text-align: center;
}

.bloc-search {
  padding-top: 1em;
}

.bloc-search.original {
  color: #ececec;
  /* background-color: #655DB2; */
  background-color: #8b4ead;
}

#search-box {
  width: 80%;
  height: 30px;
  margin-left: 10%;
  margin-bottom: 3em;
  text-align: center;
  border: none;
  outline: none;
}

.input-original {
  background-color: #454443;
  /* color: #99e5fa; */
  color: #ececec;
}

.bloc-result {
  padding: 2%;
  height: 30em;
}

.bloc-result.original {
  background-color: #8b4ead;
}

.bloc-result img {
  height: 90%;
  transition: filter 0.75s;
}

.bloc-result h3, .bloc-result h5  {
  margin-top: -75%;
  width: 100%;
  text-align: center;
  padding-left: 7.5%;
  opacity: 0;
  transition: opacity 1s;
}

.bloc-result.original h3, .bloc-result.original h5 {
  color: #d8d8d8;
  mix-blend-mode: difference;
}

.bloc-result:hover h3, .bloc-result:hover h5 {
  opacity: 1;
}

.bloc-result:hover img {
  filter: blur(15px);
  overflow: hidden;
}
